<app-header titulo="Listado de usuarios"></app-header>

<ion-content>

    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item *ngFor="let users of usuario; let i = index">
                    <ion-avatar slot="start">
                        <ion-img [src]="users.picture.medium"></ion-img>

                    </ion-avatar>
                    <ion-label>{{ users.name.first }} {{ users.name.last}}</ion-label>
                    <ion-label color="{{users.gender === 'female' ? 'primary' : 'danger'}}" position="fixed">{{ users.gender}}</ion-label>
                    <ion-button [routerLink]="['/usuario', i]" color="primary">Ver mas</ion-button>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>