<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Prueba de Ionic Framework
        </ion-title>
        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/foto.jpg" alt="">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Alberto Valdés </ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        examen de ionic framework
                    </ion-card-content>

                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>